.container{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 30vh;
    color: #fff;
    background:  #f78c40;
    padding: 2rem 5vw;
}

.hr{
    height: 50%;
    width: 1px;
    background: #fff;
}