.container {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: 1vw;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        width: 100%;
        gap: 3vw;

    }
}

.left {
    flex: 5;
    max-width: 9rem;
    border-radius: 10px;
    /* background: #f78c40a6; */
    background: url('../../../../assets/wesite.png') center/cover no-repeat;
}

.right {
    flex: 7;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    /* Ensures the image covers the entire container */
    object-position: center;
    /* Centers the image within the container */
}


.row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vh;
}

.name {
    font-size: 1.2vw;
    color: #000;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 4vw;
        color: #000;
        font-weight: 700;
    }
}

.designation {
    font-size: 1.1vw;
    color: #000;
    font-weight: 500;
    text-align: start
}

@media only screen and (max-width: 600px) {
    .designation {
        font-size: 3vw;
        color: #000;
        font-weight: 500;
        text-align: start
    }
}

.socials {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    gap: 0.5vw;
    bottom: 0;
    justify-content: flex-end
}

@media only screen and (max-width: 600px) {
    .socials {
        display: flex;
        position: absolute;
        align-items: center;
        width: 100%;
        gap: 3vw;
        bottom: 0;
        justify-content: flex-end
    }
}

.icon {
    color: #000;
    font-size: 2vw;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .icon {
        color: #000;
        font-size: 8vw;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
    }
}

.icon:hover {
    color: #f78c40;
    transform: scale(1.1);
}