.container{
    width: 100vw;
    height: auto;
    padding: 8rem 5vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}


@media only screen and (max-width: 880px) {
    .container{
        width: 100vw;
        height: auto;
        padding: 4rem 5vw;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap:4vh;
    }
}
